
# Ignore executables
*.exe
test_error
test_string

# Ignore doc
doc/iso3D/*
doc/man/iso3D/*
doc/latex/iso3D/*

# Ignore backups
*~
  
# Ignore CMake files and directories
.project
.cproject
.settings
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles
Test/CopyOfCMakeCache.txt
CopyOfCMakeCache.txt
Test/test_constexpr.cpp
Test/test_constexprA.cpp
vollib
volvis
garb
garb.nrrd
lib/libNrrdIO.a
src/iso3D/libiso3D.a
src/iso3D_MCtable/libiso3D_MCtable.a
