
# Ignore executables
*.exe
test_error
test_string

# Ignore backups
*~
  
# Ignore CMake files and directories
.project
.cproject
.settings
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles
Test/CopyOfCMakeCache.txt
CopyOfCMakeCache.txt
Test/test_constexpr.cpp
Test/test_constexprA.cpp
vollib
volvis
garb
garb.nrrd
lib/libNrrdIO.a
